<header>
	<!-- *****************************************************************************************************************
	     *********************************************************************************************************************
	     ***************************************************************************************************** VERSION TELEPHONE -->
    <section class="header-mobile">
        <div class="polygone-container-mobile">
            <div class="polygone-wrapper-mobile">
                <div class="polygone1-mobile animate-float">
                    <img src="images/Phone - Quiz sélection/Déco haut gauche/P-1.png" alt="Polygone 1">
                </div>
                <div class="polygone2-mobile animate-float2">
                    <img src="images/Phone - Quiz sélection/Déco haut gauche/P-2.png" alt="Polygone 2">
                </div>
                <div class="polygone3-mobile animate-float">
                    <img src="images/Phone - Quiz sélection/Déco haut droite/P-5.png" alt="Polygone 3">
                </div>
                <div class="polygone4-mobile animate-float2">
                    <img src="images/Phone - Quiz sélection/Déco haut droite/P-3.png" alt="Polygone 4">
                </div>
                <div class="polygone5-mobile animate-float2">
                    <img src="images/Phone - Quiz sélection/Déco haut gauche/P-3.png" alt="Polygone 5">
                </div>
                <div class="polygone6-mobile animate-float">
                    <img src="images/Phone - Quiz sélection/Déco haut gauche/P-4.png" alt="Polygone 6">
                </div>
                <div class="polygone7-mobile animate-float2">
                    <img src="images/Phone - Quiz sélection/Déco haut droite/P-4.png" alt="Polygone 7">
                </div>
                <div class="polygone8-mobile animate-float2">
                    <img src="images/Phone - Quiz sélection/Déco haut droite/P-6.png" alt="Polygone 8">
                </div>
                <div class="polygone9-mobile animate-float">
                    <img src="images/Phone - Quiz sélection/Déco haut droite/P-2.png" alt="Polygone 9">
                </div>
                <div class="polygone10-mobile animate-float2">
                    <img src="images/Phone - Quiz sélection/Déco haut droite/P-1.png" alt="Polygone 10">
                </div>
            </div>
        </div>
    </section>

	<!-- *****************************************************************************************************************
	     *********************************************************************************************************************
	     ***************************************************************************************************** VERSION ORDINATEUR -->

	<!-- HAUT A GAUCHE -->
	<section class="section-header-desktop">
		<section class="section-header-desktop-left">
			<!-- Conteneur principal -->
			<div class="section-header-desktop-right-div">
				<div class="section-header-desktop-right-div2">
					<!-- Polygone 1 -->
					<div class="polygone1-desktop-left animate-float">
						<img src="/images/Desktop - Quiz selection/Deco haut gauche/P-1.png" alt="Polygone 1" class="hidden lg:block">
					</div>
					<!-- Polygone 2 -->
					<div class="polygone2-desktop-left animate-float2">
						<img src="/images/Desktop - Quiz selection/Deco haut gauche/P-2.png" alt="Polygone 2" class="hidden lg:block">
					</div>
					<!-- Polygone 3 -->
					<div class="polygone3-desktop-left animate-float2">
						<img src="/images/Desktop - Quiz selection/Deco haut gauche/P-4.png" alt="Polygone 3" class="hidden lg:block">
					</div>
					<!-- Polygone 4 -->
					<div class="polygone4-desktop-left animate-float">
						<img src="/images/Desktop - Quiz selection/Deco haut gauche/P-3.png" alt="Polygone 4" class="hidden lg:block">
					</div>
				</div>
			</div>
		</section>

		<div class="div-quiz-name">
			<h1 class="changa-one-regular">
				{{quiz.name}}
			</h1>
		</div>

			<div class="section-header-desktop-div-interrogation">
				<img src="/images/Desktop - Quiz question/Point interrogation.png" alt="Point d'interrogation">
			</div>
	</section>

</header>
