<header>
    <!-- MOBILE -->
    <div class="flex justify-between w-full">
        <img src="/images/Phone - accueil/Feu tricolore.png" alt="Feu tricolore de décoration"
            class="h-10 max-w-full lg:hidden -ml-4 -mt-4 lg:ml-0">
        <img src="/images/Phone - accueil/Point interrogation.png" alt="Points d'interrogation"
            class="max-w-full -mr-8 -mt-4 lg:hidden">

        <!-- ORDINATEUR   -->
        <img src="/images/Desktop - accueil/Feu tricolore.png" alt="Feu tricolore de décoration"
            class="hidden lg:block">
    </div>

    <h1 class="font-changa text-9xl text-center mb-16 lg:text-[15rem] lg:mb-0">QUIZ</h1>
    <h2 class="font-changa text-center mb-16 lg:text-[15rem] lg:mb-0" style="font-size:3rem">Inscription</h2>

</header>