<header class="header-quiz">
    <!-- VERSION MOBILE -->
    <section class="header-mobile">
        <div class="polygone-container-mobile">
            <div class="polygone-wrapper-mobile">
                <div class="polygone1-mobile animate-float">
                    <img src="images/Phone - Quiz sélection/Déco haut gauche/P-1.png" alt="Polygone 1">
                </div>
                <div class="polygone2-mobile animate-float2">
                    <img src="images/Phone - Quiz sélection/Déco haut gauche/P-2.png" alt="Polygone 2">
                </div>
                <div class="polygone3-mobile animate-float">
                    <img src="images/Phone - Quiz sélection/Déco haut droite/P-5.png" alt="Polygone 3">
                </div>
                <div class="polygone4-mobile animate-float2">
                    <img src="images/Phone - Quiz sélection/Déco haut droite/P-3.png" alt="Polygone 4">
                </div>
                <div class="polygone5-mobile animate-float2">
                    <img src="images/Phone - Quiz sélection/Déco haut gauche/P-3.png" alt="Polygone 5">
                </div>
                <div class="polygone6-mobile animate-float">
                    <img src="images/Phone - Quiz sélection/Déco haut gauche/P-4.png" alt="Polygone 6">
                </div>
                <div class="polygone7-mobile animate-float2">
                    <img src="images/Phone - Quiz sélection/Déco haut droite/P-4.png" alt="Polygone 7">
                </div>
                <div class="polygone8-mobile animate-float2">
                    <img src="images/Phone - Quiz sélection/Déco haut droite/P-6.png" alt="Polygone 8">
                </div>
                <div class="polygone9-mobile animate-float">
                    <img src="images/Phone - Quiz sélection/Déco haut droite/P-2.png" alt="Polygone 9">
                </div>
                <div class="polygone10-mobile animate-float2">
                    <img src="images/Phone - Quiz sélection/Déco haut droite/P-1.png" alt="Polygone 10">
                </div>
            </div>
        </div>
    </section>

    <!-- VERSION ORDINATEUR -->
    <section class="header-desktop header-left">
        <div class="polygone-container-desktop">
            <div class="polygone1-desktop animate-float">
                <img src="images/Desktop - Quiz selection/Deco haut gauche/P-1.png" alt="Polygone 1">
            </div>
            <div class="polygone22-desktop animate-float2">
                <img src="images/Desktop - Quiz selection/Deco haut gauche/P-2.png" alt="Polygone 2">
            </div>
            <div class="polygone3-desktop animate-float2">
                <img src="images/Desktop - Quiz selection/Deco haut gauche/P-4.png" alt="Polygone 3">
            </div>
            <div class="polygone44-desktop animate-float">
                <img src="images/Desktop - Quiz selection/Deco haut gauche/P-3.png" alt="Polygone 4">
            </div>
        </div>
    </section>

    <section class="header-desktop header-right">
        <div class="polygone-container-desktop">
            <div class="polygone1-desktop animate-float">
                <img src="images/Desktop - Quiz selection/Deco haut droite/P-2.png" alt="Polygone 1">
            </div>
            <div class="polygone2-desktop animate-float2">
                <img src="images/Desktop - Quiz selection/Deco haut droite/P-3.png" alt="Polygone 2">
            </div>
            <div class="polygone3-desktop animate-float2">
                <img src="images/Desktop - Quiz selection/Deco haut droite/P-1.png" alt="Polygone 3">
            </div>
            <div class="polygone4-desktop animate-float">
                <img src="images/Desktop - Quiz selection/Deco haut droite/P-4.png" alt="Polygone 4">
            </div>
            <div class="polygone5-desktop animate-float2">
                <img src="images/Desktop - Quiz selection/Deco haut droite/P-5.png" alt="Polygone 5">
            </div>
        </div>
    </section>

    <!-- TITRES -->
    <h2 class="quiz-welcome changa-one-regular">Bienvenue {{ player.username }}</h2>
    <h1 class="quiz-title changa-one-regular">Choix du quiz</h1>
</header>
