<header>
    <!-- MOBILE -->
    <div class="header-mobile-home">
        <img src="/images/Phone - accueil/Feu tricolore.png" alt="Feu tricolore de décoration"
            class="mobile-feu-tricolore">
        <img src="/images/Phone - accueil/Point interrogation.png" alt="Points d'interrogation"
            class="mobile-point-interrogation ">
    </div>

    <h1 class="titre-quiz-home changa-one-regular">QUIZ</h1>
    <h2 class="titre-inscription-home changa-one-regular">Inscription</h2>

</header>