<header>
            <!-- *****************************************************************************************************************
         *********************************************************************************************************************
         ***************************************************************************************************** VERSION TELEPHONE -->
            <section class="top-0 left-0 lg:hidden mb-[5%] ">
                <!-- Conteneur principal -->
                <div class="relative h-[110px] w-full overflow-hidden sm:h-[140px] md:h-[160px]">
                    <div class="relative w-full h-[100%]">
                        <!-- Polygone 1 -->
                        <div class="absolute top-[7px] left-[5%] animate-float sm:top-[10px] sm:left-[6%]">
                            <img src="images/Phone - Quiz sélection/Déco haut gauche/P-1.png" alt="Polygone 1"
                                class="sm:w-[120px] md:w-[155px] lg:hidden">
                        </div>
                        <!-- Polygone 2 -->
                        <div class="absolute top-[7px] left-[27%] animate-float2 md:left-[30%]">
                            <img src="images/Phone - Quiz sélection/Déco haut gauche/P-2.png" alt="Polygone 2"
                                class="sm:w-[120px] md:w-[150px] lg:hidden">
                        </div>
                        <!-- Polygone 3 -->
                        <div class="absolute top-[7px] left-[55%] animate-float sm:left-[57%] ">
                            <img src="images/Phone - Quiz sélection/Déco haut droite/P-5.png" alt="Polygone 3"
                                class="sm:w-[150px] md:w-[180px] lg:hidden">
                        </div>
                        <!-- Polygone 4 -->
                        <div class="absolute top-[7px] left-[92%] animate-float2 sm:left-[85%] md:left-[87%]">
                            <img src="images/Phone - Quiz sélection/Déco haut droite/P-3.png" alt="Polygone 4"
                                class="sm:w-[60px] md:w-[70px] lg:hidden">
                        </div>
                        <!-- Polygone 5 --> 
                        <div class="absolute top-[27%] left-[5%] animate-float2 sm:left-[7%] sm:top-[35%] md:top-[40%]">
                            <img src="images/Phone - Quiz sélection/Déco haut gauche/P-3.png" alt="Polygone 5"
                                class="sm:w-[80px] md:w-[90px] lg:hidden">
                        </div>
                        <!-- Polygone 6 -->
                        <div class="absolute top-[45%] left-[27%] animate-float sm:top-[50%] md:left-[23%]">
                            <img src="images/Phone - Quiz sélection/Déco haut gauche/P-4.png" alt="Polygone 6"
                                class="sm:w-[100px] md:w-[120px] lg:hidden">
                        </div>
                        <!-- Polygone 7 -->
                        <div class="absolute top-[30%] left-[55%] animate-float2 sm:left-[57%]">
                            <img src="images/Phone - Quiz sélection/Déco haut droite/P-4.png" alt="Polygone 7"
                                class="sm:w-[120px] md:w-[150px] lg:hidden">
                        </div>
                        <!-- Polygone 8 -->
                        <div class="absolute top-[47%] left-[35%] animate-float2 sm:left-[40%]">
                            <img src="images/Phone - Quiz sélection/Déco haut droite/P-6.png" alt="Polygone 8"
                                class="md:w-[150px] lg:hidden">
                        </div>
                        <!-- Polygone 9 -->
                        <div class="absolute top-[48%] left-[82%] animate-float md:left-[75%]">
                            <img src="images/Phone - Quiz sélection/Déco haut droite/P-2.png" alt="Polygone 9"
                                class="md:w-[100px] lg:hidden">
                        </div>
                        <!-- Polygone 10 -->
                        <div class="absolute top-[78%] left-[82%] animate-float2 md:top-[80%]">
                            <img src="images/Phone - Quiz sélection/Déco haut droite/P-1.png" alt="Polygone 10"
                                class="lg:hidden">
                        </div>

                    </div>
                </div>
            </section>

            <!-- *****************************************************************************************************************
         *********************************************************************************************************************
         ***************************************************************************************************** VERSION ORDINATEUR -->

            <!-- HAUT A GAUCHE -->
            <section class="hidden lg:block top-0 left-0">
                <!-- Conteneur principal -->
                <div class="absolute h-[250px] w-full max-w-[250px] overflow-hidden top-0 left-0">
                    <div class="relative w-full h-[100%]">
                        <!-- Polygone 1 -->
                        <div class="absolute top-[5%] left-[5%] animate-float">
                            <img src="images/Desktop - Quiz selection/Deco haut gauche/P-1.png" alt="Polygone 1"
                                class="hidden lg:block">
                        </div>
                        <!-- Polygone 2 -->
                        <div class="absolute top-[5%] left-[43%] animate-float2">
                            <img src="images/Desktop - Quiz selection/Deco haut gauche/P-2.png" alt="Polygone 2"
                                class="hidden lg:block">
                        </div>
                        <!-- Polygone 3 -->
                        <div class="absolute top-[25%] left-[5%] animate-float2">
                            <img src="images/Desktop - Quiz selection/Deco haut gauche/P-4.png" alt="Polygone 3"
                                class="hidden lg:block">
                        </div>
                        <!-- Polygone 4 -->
                        <div class="absolute top-[45%] left-[43%] animate-float">
                            <img src="images/Desktop - Quiz selection/Deco haut gauche/P-3.png" alt="Polygone 4"
                                class="hidden lg:block">
                        </div>
                    </div>
                </div>
            </section>

            <!-- HAUT A DROITE -->
            <section class="hidden lg:block top-0 right-0">
                <!-- Conteneur principal -->
                <div class="absolute h-[250px] w-full max-w-[250px] overflow-hidden top-0 right-0">
                    <div class="relative w-full h-[100%]">
                        <!-- Polygone 1 -->
                        <div class="absolute top-[5%] left-[0%] animate-float">
                            <img src="images/Desktop - Quiz selection/Deco haut droite/P-2.png" alt="Polygone 1"
                                class="hidden lg:block">
                        </div>
                        <!-- Polygone 2 -->
                        <div class="absolute top-[5%] left-[68%] animate-float2">
                            <img src="images/Desktop - Quiz selection/Deco haut droite/P-3.png" alt="Polygone 2"
                                class="hidden lg:block">
                        </div>
                        <!-- Polygone 3 -->
                        <div class="absolute top-[25%] left-[0%] animate-float2">
                            <img src="images/Desktop - Quiz selection/Deco haut droite/P-1.png" alt="Polygone 3"
                                class="hidden lg:block">
                        </div>
                        <!-- Polygone 4 -->
                        <div class="absolute top-[35%] left-[55%] animate-float">
                            <img src="images/Desktop - Quiz selection/Deco haut droite/P-4.png" alt="Polygone 4"
                                class="hidden lg:block">
                        </div>
                        <div class="absolute top-[65%] left-[43%] animate-float2">
                            <img src="images/Desktop - Quiz selection/Deco haut droite/P-5.png" alt="Polygone 5"
                                class="hidden lg:block">
                        </div>
                    </div>
                </div>
            </section>



            <h2 class="text-center font-rubik text-primary text-2xl font-medium lg:text-[60px] mt-[2%] mb-[-1rem]">
                Bienvenue "PLAYER"</h2>
            <h1 class="font-changa text-[3rem] text-center mb-1 text-primary lg:text-[128px] ">Choix du
                quiz</h1>
        </header>