{% extends 'base.html.twig' %}

{% block title %}Log in / Register{% endblock %}

{% block body %}
    <form method="post">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in or register</h1>
        <label for="username">Username</label>
        <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="username" required autofocus>
        <label for="password">Password</label>
        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

        <button class="btn btn-lg btn-primary" type="submit">
            Sign in / Register
        </button>
    </form>
{% endblock %}