<footer>
  <!-- POLYGONES VERSION TEL -->
  <section class="polygone-section-phone">
    <!-- Conteneur principal -->
    <div class="polygone-container-phone">
      <div class="polygone-wrapper-phone">
        <!-- Polygone 1 -->
        <div class="polygone1-phone animate-float">
          <img src="/images/Phone - accueil/P-4.png" alt="Polygone 1" class="polygone-img-phone" />
        </div>
        <!-- Polygone 2 -->
        <div class="polygone2-phone animate-float2">
          <img src="/images/Phone - accueil/P-1.png" alt="Polygone 2" class="polygone-img-phone" />
        </div>
        <!-- Polygone 3 -->
        <div class="polygone3-phone animate-float">
          <img src="/images/Phone - accueil/P-5.png" alt="Polygone 3" class="polygone-img-phone" />
        </div>
        <!-- Polygone 4 -->
        <div class="polygone4-phone animate-float2">
          <img src="/images/Phone - accueil/P-6.png" alt="Polygone 4" class="polygone-img-phone" />
        </div>
        <!-- Polygone 5 -->
        <div class="polygone5-phone animate-float">
          <img src="/images/Phone - accueil/P-3.png" alt="Polygone 5" class="polygone-img-phone" />
        </div>
        <!-- Polygone 6 -->
        <div class="polygone6-phone animate-float2">
          <img src="/images/Phone - accueil/P-2.png" alt="Polygone 6" class="polygone-img-phone" />
        </div>
      </div>
    </div>
  </section>

  <!--   *****************************************************************************************************************
         *********************************************************************************************************************
         ***************************************************************************************************** VERSION ORDINATEUR   -->

  <section class="section-hidden">
    <!-- Conteneur principal -->
    <div class="polygone-container-login">
      <div class="polygone-wrapper-login">
        <!-- Polygone 1 -->
        <div class="polygone1-login animate-float">
          <img src="/images/Desktop - accueil/P-6.png" alt="Polygone 1" />
        </div>
        <!-- Polygone 2 -->
        <div class="polygone2-login animate-float2">
          <img src="/images/Desktop - accueil/P-5.png" alt="Polygone 2" />
        </div>
        <!-- Polygone 3 -->
        <div class="polygone3-login animate-float">
          <img src="/images/Desktop - accueil/P-4.png" alt="Polygone 3" />
        </div>
        <!-- Polygone 4 -->
        <div class="polygone4-login animate-float2">
          <img src="/images/Desktop - accueil/P-1.png" alt="Polygone 4" />
        </div>
        <!-- Polygone 5 -->
        <div class="polygone5-login animate-float">
          <img src="/images/Desktop - accueil/P-2.png" alt="Polygone 5" />
        </div>
        <!-- Polygone 6 -->
        <div class="polygone6-login animate-float2">
          <img src="/images/Desktop - accueil/P-3.png" alt="Polygone 6" />
        </div>
      </div>
    </div>
  </section>
</footer>
