<footer class="hidden lg:block relative bottom-0-right-0">
            <div class="relative h-[150px] w-full max-w-[130px] overflow-hidden bottom-[-2rem] left-[90%]">
                <img src="images/Desktop - Quiz selection/Point interrogation.png" alt="Point d'interrogation">
            </div>
        </footer>