<footer class="mb-4">
    <div class="mb-4">
        <label for="progress-container" class="text-2xl font-bold text-darkprimary">Temps :</label>
        <div id="progress-container">
            <div id="progress-bar"></div>
        </div>
    </div>
    <div class="flex flex-col justify-center items-center text-darkprimary">
        <span class="font-bold text-3xl">{{ app.user.username }}</span>
        <span id="score" class="text-xl">Votre score : 0 pts</span>
    </div>
</footer>
