<footer class="quiz-footer">
    <div class="quiz-timer">
        <label for="progress-container" class="quiz-timer-label changa-one-regular">Temps :</label>
        <div id="progress-container">
            <div id="progress-bar"></div>
        </div>
    </div>
    <div class="quiz-user-info">
        <span class="quiz-username changa-one-regular">{{ app.user.username }}</span>
        <span id="score" class="quiz-score changa-one-regular">Votre score : 0 pts</span>
    </div>
</footer>
