<footer>

        <!-- POLYGONES VERSION TEL -->
        <section class="bottom-0 left-0 lg:hidden">
            <!-- Conteneur principal -->
            <div class="absolute h-[400px] w-full max-w-[400px] overflow-hidden bottom-[0rem] left-[0rem]">
                <div class="relative w-full h-[90%] bottom-0 right-0">
                    <!-- Polygone 1 -->
                    <div class="absolute top-[50%] left-[5%] animate-float">
                        <img src="/images/Phone - accueil/P-4.png" alt="Polygone 1"
                            class="w-auto max-w-[70px] md:max-w-[100px] lg:hidden">
                    </div>
                    <!-- Polygone 2 -->
                    <div class="absolute top-[80%] left-[5%] animate-float2">
                        <img src="/images/Phone - accueil/P-1.png" alt="Polygone 2"
                            class="w-auto max-w-[80px] md:max-w-[110px] lg:hidden">
                    </div>
                    <!-- Polygone 3 -->
                    <div class="absolute top-[50%] left-[30%] animate-float">
                        <img src="/images/Phone - accueil/P-5.png" alt="Polygone 3"
                            class="w-auto max-w-[90px] md:max-w-[120px] lg:hidden">
                    </div>
                    <!-- Polygone 4 -->
                    <div class="absolute top-[70%] left-[45%] animate-float2">
                        <img src="/images/Phone - accueil/P-6.png" alt="Polygone 4"
                            class="w-auto max-w-[80px] md:max-w-[110px] lg:hidden">
                    </div>
                    <!-- Polygone 5 -->
                    <div class="absolute top-[85%] left-[35%] animate-float">
                        <img src="/images/Phone - accueil/P-3.png" alt="Polygone 5"
                            class="w-auto max-w-[70px] md:max-w-[100px] lg:hidden">
                    </div>
                    <!-- Polygone 6 -->
                    <div class="absolute top-[65%] left-[22%] animate-float2">
                        <img src="/images//Phone - accueil/P-2.png" alt="Polygone 6"
                            class="w-auto max-w-[70px] md:max-w-[100px] lg:hidden">
                    </div>
                </div>
            </div>
        </section>



        <!-- *****************************************************************************************************************
         *********************************************************************************************************************
         ***************************************************************************************************** VERSION ORDINATEUR -->
        <section class="hidden lg:block">
            <!-- Conteneur principal -->
            <div class="absolute h-[700px] w-full max-w-[560px] overflow-hidden bottom-0 left-0">
                <div class="relative w-full h-[90%]">
                    <!-- Polygone 1 -->
                    <div class="absolute bottom-[337px] left-[5%] animate-float">
                        <img src="/images/Desktop - accueil/P-6.png" alt="Polygone 1"
                            class="hidden lg:block">
                    </div>
                    <!-- Polygone 2 -->
                    <div class="absolute bottom-[218px] left-[10%] animate-float2">
                        <img src="/images/Desktop - accueil/P-5.png" alt="Polygone 2"
                            class="hidden lg:block">
                    </div>
                    <!-- Polygone 3 -->
                    <div class="absolute bottom-[100px] left-[1px] animate-float">
                        <img src="/images/Desktop - accueil/P-4.png" alt="Polygone 3"
                            class="hidden lg:block">
                    </div>
                    <!-- Polygone 4 -->
                    <div class="absolute bottom-[-2rem] left-[37px] animate-float2">
                        <img src="/images/Desktop - accueil/P-1.png" alt="Polygone 4"
                            class="hidden lg:block">
                    </div>
                    <!-- Polygone 5 -->
                    <div class="absolute bottom-[-2rem] left-[165px] animate-float">
                        <img src="/images/Desktop - accueil/P-2.png" alt="Polygone 5"
                            class="hidden lg:block">
                    </div>
                    <!-- Polygone 6 -->
                    <div class="absolute bottom-[-2rem] left-[250px] animate-float2">
                        <img src="/images/Desktop - accueil/P-3.png" alt="Polygone 6"
                            class="hidden lg:block">
                    </div>
                </div>
            </div>
        </section>



</footer>