@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* FONTS  */
@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Rubik:wght@400;500;700&display=swap');


/* COULEURS */
:root {
    --primary-color: #6E433C; /* Marron */
    --secondary-color: #E7C298; /* Orange */
    --light-color: #FEFBE8; /* Clair */
    --dark-color: #541A25; /* Foncé */
    --background-color: #FDFAE6; /* Fond */
  }
  
  html, body {
      overflow-x: hidden; /* Empêche le défilement horizontal sur toute la page */
      width: 100%;
  }


/* ANIMATION FOND D'ECRAN */
/* Animations */
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

/* Styles principaux */
body {
  margin-top: 13.5rem;
  font: 400 16px/1.5 'exo', ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;

  /* Image 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;

  animation: bg-scrolling-reverse 0.92s infinite linear;
}

body::before {
  font-size: 8rem;
  font-weight: 100;
  font-style: normal;
}

.full-height-section {
  height: 100vh; /* Prend 100% de la hauteur de l'écran */
}