body {
  margin: 2.5vh 5vw;
  padding: 0;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC")
    repeat 0 0;
  animation: bg-scrolling-reverse 0.92s infinite linear;
}

.window-effect {
  position: relative;
  padding: 1rem;

  border-top: 7px solid var(--primary-color);
  border-left: 7px solid var(--primary-color);
  border-right: 15px solid var(--primary-color);
  border-bottom: 15px solid var(--primary-color);

  border-radius: 42px;

  box-sizing: border-box;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(110, 67, 60, 0.5); /* Couleur #6E433C avec une opacité de 50% */
  z-index: 0;
  height: 100%;
  width: 100%;
}


/* FONT changa-one-regular */
.changa-one-regular {
  font-family: "Changa One", serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* COULEURS */
:root {
  --primary-color: #6e433c; /* Marron */
  --secondary-color: #e7c298; /* Orange */
  --light-color: #fefbe8; /* Clair */
  --dark-color: #541a25; /* Foncé */
  --background-color: #fdfae6; /* Fond */
}


 .bg-gradient-clair-orange {
  background: linear-gradient(to bottom, var(--light-color), var(--secondary-color));
  z-index: 0;
} 

.custom-box{
  background: red;
}

/* ANIMATION FOND D'ECRAN */
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}


/* ANIMATION IMAGES EFFET FLOTTANT*/
.animate-float{
    animation: float 3s ease-in-out infinite;
  }

@keyframes float{
    0%, 100%{
      transform: translateY(0px) translateX(0px);
    }
  
    50%{
      transform: translateY(-8px) translateX(4px);
    }
  }
  

  
  @keyframes float{
    0%, 100%{
      transform: translateY(0px) translateX(0px);
    }
  
    50%{
      transform: translateY(-8px) translateX(4px);
    }
  }
  
  .animate-float2{
    animation: float 3s ease-in-out infinite 1.5s;
  }

