.full-height-section {
  height: 100vh;
}

.bg-primary {
  background-color: #6e433c;
}

.bg-darkprimary {
  background-color: #541a25;
}

.text-darkprimary {
  color: #541a25;
}

.btn-custom {
  margin: 1rem;
  padding: 1rem;
  background-color: var(--dark-color);
  color: var(--light-color);
  border-radius: 0.5rem;
  border: 2px solid var(--light-color);
  width: 60%;
  font-family: "Changa One", sans-serif;
  font-size: 1.875rem;
  font-weight: 300;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.btn-custom:hover,
.btn-custom:focus {
  background-color: var(--primary-color);
  transform :  scale(1.1);
}

.btn-custom2 {
  margin: 1.25rem;
  padding: 1.25rem;
  background-color: var(--secondary-color);
  color: var(--dark-color);
  border-radius: 0.5rem;
  border: 2px solid var(--light-color);
  width: 60%;
  font-family: "Changa One", sans-serif;
  font-size: 1.875rem;
  font-weight: 300;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.btn-custom2:hover,
.btn-custom2:focus {
  background-color: var(--secondary-color);
}

progress {
  background-color: #541a25;
  border-radius: 10px; /* Ajout pour arrondir les côtés */
}
progress::-webkit-progress-bar {
  background-color: #541a25;
  border-radius: 10px; /* Ajout pour arrondir les côtés */
}
progress::-webkit-progress-value {
  background-color: var(--light-color);
  border-radius: 10px; /* Ajout pour arrondir les côtés */
}
progress::-moz-progress-bar {
  background-color: var(--light-color);
  border-radius: 10px; /* Ajout pour arrondir les côtés */
}
