<!DOCTYPE html>
<html>
  <head>
    <!-- Définition du jeu de caractères -->
    <meta charset="UTF-8" />
    <!-- Configuration de la vue pour les appareils mobiles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Description du site -->
    <meta name="description" content="Un site de quiz interactif pour tester vos connaissances." />
    <!-- Mots-clés pour le référencement -->
    <meta name="keywords" content="quiz, connaissances, questions, réponses, interactif" />
    <!-- Auteur du site -->
    <meta name="author" content="FOUGEROUSE Élodie" />

    <title>
      {% block title %}
        QUIZ!
      {% endblock %}
    </title>

    <!-- Favicon en SVG -->
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><circle cx='64' cy='64' r='56' fill='%23FDFAE6'/><text x='50%' y='60%' font-size='72' font-family='Arial, sans-serif' fill='%23541A25' text-anchor='middle' dominant-baseline='middle'>?</text></svg>" />

    <!-- Importation de la police Changa One Static depuis Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap" rel="stylesheet" />

    <!-- Importation de Swiper CSS via CDN -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- Importation des feuilles de style locales -->
    <link rel="stylesheet" href="{{ asset('styles/btn.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">

    {% block stylesheets %}
    <!-- Bloc pour ajouter des feuilles de style supplémentaires -->
    {% endblock %}

    {% block javascripts %}
      {% block importmap %}
        <!-- Importation des modules JavaScript via importmap -->
        {{ importmap('app') }}
      {% endblock %}
    {% endblock %}
  </head>

  <body>

    <!-- Importation de Swiper JS via CDN -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    {% block body %}
      {% block header %}{% endblock %}
      {% block main %}{% endblock %}
      {% block footer %}{% endblock %}
      {% block javascriptsQUIZ %}{% endblock %}
      {% block javascriptsCHOICE %}{% endblock %}
    {% endblock %}
  </body>
</html>
