{% extends 'base.html.twig' %}

{% block title %}QUIZ || QUESTION {% endblock %}


{% block body %}

  

         {% block main %}

         <!-- Ajout d'une div avec une couleur de fond et une opacité de 50% -->
        <div class="fixed inset-0 bg-[#6E433C] bg-opacity-50 z-0 h-full w-full"></div>

        <!-- Section principale -->
        <section class="relative h-full max-w-full my-[39px] mx-[30px] p-2 bg-gradient-clair-orange }}
                    border-t-[7px] border-l-[7px] border-r-[15px] border-b-[15px] border-primary 
                    rounded-[42px] overflow-hidden">

                    
  {% block header %}
        {% include "header/headerQuestion.html.twig" %}
    {% endblock %}

        <?php
        // Génère les questions pour le quiz spécifié
        if (isset($_SESSION['idQuiz'])) {
            echo $qcmManager->generateQuestions($_SESSION['idQuiz']);
        } else {
            echo '<p class="text-red-500">Aucun quiz sélectionné.</p>';
        }
        ?>


       

         {% endblock %}



    {% block footer %}
        {% include "footer/footerHome.html.twig" %}
    {% endblock %}
    
     </section>


{% endblock %}
